[Unit]
Description=qbit
After=openvpn@lax.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
StartLimitBurst=5
StartLimitIntervalSec=10
User=jadmin
ExecStart=/usr/bin/qbittorrent-nox

[Install]
WantedBy=multi-user.target